@charset "UTF-8";

section{
    width: 98%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.posting{
    font-size: 2rem;
    margin-top: 1.5rem;
}

.posting .link:hover{
    text-decoration: underline;
}
.search{
    display: flex;
    margin: 20px 0;
}
.search .input{
    width: 15rem;
}
.search .submit{
    padding: 0px 6px;
    border: 1px solid #000000;
}
.post{
    position: relative;
    padding: 1rem 1.5rem;
    margin-top: 20px; 
    border: 2px solid #000000;
    border-radius: 1vh;
}
.title{
    font-size: 2rem;
    width: 100%;
    color: #117ec6;
}
.title:hover{
    text-decoration: underline;
}
.body{
    position: relative;
    font-size: 1.2rem;
    max-width: 740px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tags{
    display: flex;
    position: relative;
    margin: 1rem 0;
    gap: 1rem;
}
.tag{
    font-size: 0.8rem;
    padding: 2px;
    border: 1px solid #000000;
}
.post .contents{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.content{
    display: flex;
    position: relative;
    max-width: 400px;
    gap: 0 1rem;
}
.like .heart{
    color: #FF00CC;
}
.like span:nth-child(1){
    position: absolute;
}
.like span:nth-child(2){
    position: absolute;
    opacity:0;
}
.post .like .count{
    padding-left: 20px;
}
.like span{
    transition: all .3s;
}
.like:hover span:nth-child(2){
    opacity:1;
}
.like:hover span:nth-child(1){
    opacity:0;
}
.unlike:hover{
    color: #FF00CC;
    transition: 0.3s;
}
.tooltip-text {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
}
.like:hover .tooltip-text {
    visibility: visible;
}
.comment{
    display: flex;
    font-size: 1rem;
    gap: 2px;
}

.balloon{
    width: 1.2rem;
}

.unsolved{
    font-size: 1rem;
    padding: 0 2px;
    color: #ffffff;
    background-color: #ff0000;
}
.user_time{
    display: flex;
    max-width: 400px;
    gap: 0 1rem;
    align-items: flex-end;
}
.user .name:hover{
    text-decoration: underline;
}
.user{
    font-size: 0.8rem;
}
.time{
    font-size: 0.8rem;
}
.paginate{
    margin-top: 20px;
}

@media only screen and (max-width: 530px){
    html{
      font-size: 12px;
    }
    .post{
    border: 1.7px solid #000000;
    }
    .post .like .count{
        padding-left: 17px;
    }
    .reply .like .count{
        padding-left: 12px;
    }
}
@media only screen and (max-width: 400px){
    html{
        font-size: 8px;
    }
    .post .like .count{
        padding-left: 13px;
    }
    .reply .like .count{
        padding-left: 12px;
    }

    .post{
    border: 1px solid #000000;
    }

    .post .body{
        display: none;
    }
    .post .title{
        font-size: 2.3rem;
    }
    .post .tag{
        border: 0.7px solid #000000;
    }
    .post .content{
        align-items: flex-end;
    }

}
