@charset "UTF-8";

section{
    width: 98%;
    max-width: 800px;
    margin: 0 auto;
}
.post{
    position: relative;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #333;
}
.unsolved{
    display: inline-block;
    position: relative;
    font-size: 1.3rem;
    padding: 0 2px;
    color: #ffffff;
    background-color: #ff0000;
}
.post .title{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.post .tags{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    gap: 1.5rem;
}
.tag{
    font-size: 1rem;
    padding: 2px;
    border: 1px solid #000000;
}
.pictures{
    position: relative;
}
.picture{
    width:40%; 
}
.pictures .change{
    margin-left: 13%;
    text-align: center;
    font-size: 1.1rem
}
.pictures .change:hover{
    text-decoration: underline;
}
.post .body{
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 40px;
}
.post .edits{
    display: flex;
    position: relative;
    margin-bottom: 15px;
    top: 10px;
    gap: 0 20px;
    font-size: 1.1rem;
}
.post .edit:hover{
    text-decoration: underline;
}
.post .delete:hover{
    text-decoration: underline;
    cursor: pointer;
}
.post .add:hover{
    text-decoration: underline;
}
.post .contents{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.post .content{
    display: flex;
    gap: 0 1rem;
}
.post .comment{
    display: flex;
    font-size: 1.1rem;
    gap: 2px;
}
.post .balloon{
    width: 1.2rem;
}
.post .likes{
    font-size: 1.1rem;
}
.post .hearts .count{
    font-size: 1.1rem;
}
.post .hearts{
    font-size: 1rem;
}
.like .heart{
    color: #FF00CC;
}
.like span:nth-child(1){
    position: absolute;
}
.like span:nth-child(2){
    position: absolute;
    opacity:0;
}
.post .like .count{
    padding-left: 20px;
}
.like span{
    transition: all .3s;
}
.like:hover span:nth-child(2){
    opacity:1;
}
.like:hover span:nth-child(1){
    opacity:0;
}
.unlike:hover{
    color: #FF00CC;
    transition: 0.3s;
}


.tooltip-text {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.3rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
}
.like:hover .tooltip-text {
    visibility: visible;
}
.post .create_reply{
    font-size: 1.1rem;
}
.post .create_reply:hover{
    text-decoration: underline;
}
.post .user_time{
    display: flex;
    gap: 0 1rem;
}
.post .user .contributor{
    font-size: 1.1rem;
}
.post .user .name{
    font-size: 1.1rem;
}
.user .name:hover{
    text-decoration: underline;
}
.post .user .anonymous{
    font-size: 1.1rem;
}
.post .time{
    font-size: 1.1rem;
}
.noComment{
    font-size: 1.2rem;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
    padding: 20px 0;
    border-radius: 1vh;
    background-color: #dddddd;
}
.ALLreplies{
    margin-top: 2rem;
    
}
.replies{
    display: block;
    margin: 0 auto;
    max-width: 650px; 
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #333;
}
.reply{
    position: relative;
    border: 1px solid #000000;
    max-width: 650px;
    padding: 0.5rem;
    margin: 0 auto;
}
.Nofirst{
    width: 90%;
    max-width: 585px;
    margin-left: 10%;
}
.reply .deleted{
    font-size: 1.2rem;
    text-align: center;
}
.reply .body{
    font-size: 1.2rem;
    
}
.reply .body:hover{
    text-decoration: underline;
}
.reply .contents{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 1rem;
}
.reply .content{
    display: flex;
    gap: 0 0.8rem;
}
.reply .likes{
    font-size: 0.8rem;
}
.reply .heart{
    font-size: 0.8rem;
}
.reply .count{
    font-size: 0.8rem;
}
.reply .like .count{
    padding-left: 15px;
}
.reply .comment{
    display: flex;
    font-size: 0.8rem;
    gap: 2px;
}
.reply .balloon{
    width: 1.2rem;
}
.reply .create_reply{
    font-size: 0.8rem;
}
.reply .create_reply:hover{
    text-decoration: underline;
}
.reply .user_time{
    display: flex;
    gap: 0 0.8rem;
}
.reply .user{
    font-size: 0.8rem;
}
.reply .user .name:hover{
    text-decoration: underline;
}
.reply .time{
    font-size: 0.8rem;
}
.line{
    margin: 0 auto;
    height: 30px;
    width: 1px;
    background-color: #000000;
}
.posts .space{
    height: 2.5rem;
}
.bottom_space{
    height: 30rem;
}
#toggle-button{
    font-size: 1.2rem;
    color: #117ec6;
}
#toggle-button:hover{
    text-decoration: underline;
}
#parent{
    position: relative;
    padding-top: 2rem;

}
.parent_reply{
    font-size: 1.2rem;
}
.bottom_line{
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #333;
}
@media only screen and (max-width: 640px){
    html{
      font-size: 13px;
    }
    .post .like .count{
        padding-left: 17px;
    }
    .reply .like .count{
        padding-left: 12px;
    }

}
@media only screen and (max-width: 530px){
    html{
      font-size: 10px;
    }
    .post .like .count{
        padding-left: 13px;
    }
    .reply .like .count{
        padding-left: 12px;
    }

}
@media only screen and (max-width: 410px){
    html{
        font-size: 8px;
    }


}